<%= simple_form_for(@etu) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
      <%= f.input :annee %>
      <%= f.input :lieu %>
      <%= f.input :description %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
