<p id="notice"><%= notice %></p>

<p>
    <strong>Année :</strong>
    <%= @etu.annee %>
</p>
<p>
    <strong>Entreprise :</strong>
    <%= @etu.lieu %>
</p>
<p>
    <strong>Description :</strong>
    <%= @etu.description %>
</p>
<br><br>

<% if current_user.role == 'Admin' %>
<%= link_to 'Editer', edit_etu_path(@etu), class: 'btn btn-info' %> |<% end %>
<%= link_to 'Retour', etus_path, class: 'btn btn-default' %>
