<p id="notice"><%= notice %></p>

<h1>Secteurs</h1>

<table class="table">
  <thead>
    <tr>
      <th>Nom</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @secteurs.each do |secteur| %>
      <tr>
        <td><%= secteur.name %></td>
        <td><%= link_to 'Afficher', secteur, class: 'btn btn-warning' %></td>
        <td><%= link_to 'Editer', edit_secteur_path(secteur), class: 'btn btn-info' %></td>
        <td><%= link_to 'Supprimer', secteur, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nouveau secteur', new_secteur_path, class: 'btn btn-success' %>
