<p id="notice"><%= notice %></p>

<h3>
  <strong>Secteur d'activité :</strong>
  <%= @secteur.name %>
</h3>

<b>Entreprise de ce secteur d'activité :</b><br>
<% @user.each do |user| %>
    <tr>
        <td><%= user.username %></td>
        <td><%= link_to 'Afficher', {controller: "users", action: "profil", user_id: user.id}, class: 'btn btn-warning' %></td>
    </tr>
<% end %>
<br><br>

<% if current_user.role == 'Admin' %>
<%= link_to 'Editer', edit_secteur_path(@secteur), class: 'btn btn-info' %> |<% end %>
<%= link_to 'Retour', secteurs_path, class: 'btn btn-default' %>
