<p id="notice"><%= notice %></p>

<h1>Mon profil - <%= @user.username %></h1>
<h3>Mes Formations</h3>
<table>
    <thead>
        <tr>
            <td>Nom</td>
            <td>Etablissement</td>
            <td>Année d'obtention</td>
            <td>Description</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </thead>
<tbody class="renderUserFormationList">
    <%= render partial: 'userFormationlist' , locals: {user: @user} %>
</tbody>
</table>
    <% @formations.each do |f| %>
        <%= link_to "Ajouter "+f.name.to_s, {controller: "users", action: "addformation", formation_id: f.id} ,remote: true %>
    <% end %>
<table>
    <thead>
        <tr>
            <td>Nom</td>
            <td>Entreprise</td>
            <td>Dates</td>
            <td>Description</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </thead>

    <tbody>
        <h3>Expériences</h3>
        <% @user.experiences.each do |experience| %>
        <tr>
            <td><%= experience.name %></td>
            <td><%= experience.etus.where(user_id: @user.id).first.lieu %></td>
            <td><%= experience.etus.where(user_id: @user.id).first.annee %></td>
            <td><%= experience.etus.where(user_id: @user.id).first.description %></td>
            <td><%= link_to 'Afficher', experience %></td>
            <td><%= link_to 'Editer', edit_experience_path(experience) %></td>
            <td><%= link_to 'Supprimer', experience, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
        <% end %>
    </tbody>
</table>

<table>
    <thead>
        <tr>
            <td>Catégorie</td>
            <td>Nom</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </thead>

    <tbody>
        <h3>Intérêts</h3>
        <% @user.interets.each do |interet| %>
        <tr>
            <td><%= interet.itus.where(user_id: @user.id).first.categorie %></td>
            <td><%= interet.name %></td>
            <td><%= link_to 'Afficher', interet %></td>
            <td><%= link_to 'Editer', edit_interet_path(interet) %></td>
            <td><%= link_to 'Supprimer', interet, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
        <% end %>
    </tbody>
</table>

<br>
