<p id="notice"><%= notice %></p>

<h1>Profil de <%= current_user.username %></h1>

<table>
    <thead>
        <tr>
            <th colspan="3"></th>
        </tr>
    </thead>

    <tbody>
        <h3>Formations</h3>
        <% @user.formations.each do |formation| %>
        <tr>
            <td><%= formation.name %></td>
            <td><%= formation.etablissement %></td>
            <td><%= formation.annee %></td>
            <td><%= formation.description %></td>
            <td><%= link_to 'Show', formation %></td>
            <td><%= link_to 'Edit', edit_formation_path(formation) %></td>
            <td><%= link_to 'Destroy', formation, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
        <% end %>
    </tbody>
</table>

<table>
    <thead>
        <tr>
            <th colspan="3"></th>
        </tr>
    </thead>

    <tbody>
        <h3>Expériences</h3>
        <% @user.experiences.each do |experience| %>
        <tr>
            <td><%= experience.name %></td>
            <td><%= experience.lieu %></td>
            <td><%= experience.annee %></td>
            <td><%= experience.description %></td>
            <td><%= link_to 'Show', experience %></td>
            <td><%= link_to 'Edit', edit_experience_path(experience) %></td>
            <td><%= link_to 'Destroy', experience, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
        <% end %>
    </tbody>
</table>

<table>
    <thead>
        <tr>
            <th colspan="3"></th>
        </tr>
    </thead>

    <tbody>
        <h3>Intérêts</h3>
        <% @user.interets.each do |interet| %>
        <tr>
            <td><%= interet.categorie %></td>
            <td><%= interet.name %></td>
            <td><%= link_to 'Show', interet %></td>
            <td><%= link_to 'Edit', edit_interet_path(interet) %></td>
            <td><%= link_to 'Destroy', interet, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
        <% end %>
    </tbody>
</table>

<br>
