<p id="notice"><%= notice %></p>
<% if @formations.exists? && @experiences.exists? && @interets.exists? %>
<% else %>
    <div class="alert alert-warning">
        <strong><%= current_user.username %></strong> pensez à compléter tout <a href="<% users_profiluser_path %>" class="alert-link">votre profil</a> pour plus de visibilité !
    </div>
<% end %>

<table class="table">
    <tbody>
        <tr>
            <td>
                <% if @user.avatar_file_name.nil? %>
                <% else %>
                <%= image_tag @user.avatar.url(:medium) %>
                <% end %>
            </td>
            <td>
                <h1><%= @user.username %></h1><br>
                <%= @user.description %>
            </td>
        </tr>
    </tbody>
</table>

<% if !is_entreprise %>
<% if @formations.exists? || @experiences.exists? || @interets.exists? %>
    <h3>Formations</h3>
    <% if @formations.exists? %>
        <table class="table">
            <thead>
                <tr>
                    <td>Nom</td>
                    <td>Etablissement</td>
                    <td>Année d'obtention</td>
                    <td>Description</td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </thead>

            <tbody>
                <% @formations.each do |formation| %>
                <tr>
                    <td><%= formation.name %></td>
                    <td><%= formation.ftus.where(formation_id: formation.id).first.etablissement %></td>
                    <td><%= formation.ftus.where(formation_id: formation.id).first.annee %></td>
                    <td><%= formation.ftus.where(formation_id: formation.id).first.description %></td>
                </tr>
                <% end %>
            </tbody>
        </table>
    <% else %>
        <%= @user.username %> n'a pas de formations à afficher ou n'a pas complété son profil.
    <% end %>

    <h3>Expériences</h3>
    <% if @experiences.exists? %>
    <table class="table">
            <thead>
                <tr>
                    <td>Nom</td>
                    <td>Entreprise</td>
                    <td>Dates</td>
                    <td>Description</td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </thead>
            <tbody>
                <% @user.experiences.each do |experience| %>
                <tr>
                    <td><%= experience.name %></td>
                    <td><%= experience.etus.where(experience_id: experience.id).first.lieu %></td>
                    <td><%= experience.etus.where(experience_id: experience.id).first.annee %></td>
                    <td><%= experience.etus.where(experience_id: experience.id).first.description %></td></tr>
                <% end %>
            </tbody>
        </table>
    <% else %>
        <%= @user.username %> n'a pas d'expériences à afficher ou n'a pas complété son profil.
    <% end %>

    <h3>Intérêts</h3>
    <% if @interets.exists? %>
        <table class="table">
            <thead>
                <tr>
                    <td>Catégorie</td>
                    <td>Nom</td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </thead>

            <tbody>
                <% @user.interets.each do |interet| %>
                <tr>
                    <td><%= interet.categorie %></td>
                    <td><%= interet.itus.where(interet_id: interet.id).first.name %></td></tr>
                <% end %>
            </tbody>
        </table>
    <% else %>
        <%= @user.username %> n'a pas d'intérêts à afficher ou n'a pas complété son profil.
    <% end %>
<% else %>
    <%= @user.username %> n'a pas complété son profil.
<% end %>
<% end %>


<% if is_entreprise %>
    <h3>Mon secteur d'actvité :</h3>
    <table class="table">
        <thead>
            <tr>
                <td>Nom</td>
                <td>Catégorie</td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </thead>
        <tbody class="renderUserSecteurList">
            <%= render partial: 'userSecteurlist' , locals: {user: @user} %>
        </tbody>
    </table>
    <% @secteurs.each do |s| %>
        <%= link_to "Ajouter "+s.name.to_s, {controller: "users", action: "addsecteur", secteur_id: s.id} ,remote: true, class: 'btn btn-default' %>
    <% end %>

    <h3>Mes offres :</h3>
    <table class="table">
        <thead>
            <tr>
                <td>Nom</td>
                <td>Catégorie</td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </thead>
        <tbody class="renderUserOffreList">
            <%= render partial: 'userOffrelist' , locals: {user: @user} %>
        </tbody>
    </table>
    <% @offres.each do |o| %>
        <%= link_to "Ajouter "+o.description.to_o, {controller: "users", action: "addoffre", offre_id: o.id} ,remote: true, class: 'btn btn-default' %>
    <% end %>
<% end %>



<br>
