<p id="notice"><%= notice %></p>
<h1>Mon profil</h1>

<table class="table">
    <tbody>
            <td>
                <% if current_user.avatar_file_name.nil? %>
                <%= link_to 'Ajouter une image', edit_user_registration_path, class: 'btn btn-info' %>
                <% else %>
                <%= image_tag @user.avatar.url(:medium) %>
                <% end %>
            </td>
            <td>
                <h1><%= @user.username %></h1>
                <h3>Ma présentation :</h3>
                <%= @user.description %><br>
                <%= link_to 'Editer', edit_user_registration_path, class: 'btn btn-info' %>
            </td>
    </tbody>
</table>

<% if !is_entreprise %>
<h3>Mes Formations</h3>
<table class="table">
    <thead>
        <tr>
            <td>Nom</td>
            <td>Etablissement</td>
            <td>Année d'obtention</td>
            <td>Description</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </thead>
    <tbody class="renderUserFormationList">
        <%= render partial: 'userFormationlist' , locals: {user: @user} %>
    </tbody>
</table>
<% @formations.each do |f| %>
<%= link_to "Ajouter "+f.name.to_s, {controller: "users", action: "addformation", formation_id: f.id} ,remote: true, class: 'btn btn-default' %>
<% end %>


<h3>Expériences</h3>
<table class="table">
    <thead>
        <tr>
            <td>Nom</td>
            <td>Entreprise</td>
            <td>Dates</td>
            <td>Description</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </thead>
    <tbody class="renderUserExperienceList">
        <%= render partial: 'userExperiencelist' , locals: {user: @user} %>
    </tbody>
</table>
<% @experiences.each do |e| %>
<%= link_to "Ajouter "+e.name.to_s, {controller: "users", action: "addexperience", experience_id: e.id} ,remote: true, class: 'btn btn-default' %>
<% end %>

<h3>Intérêts</h3>
<table class="table">
    <thead>
        <tr>
            <td>Nom</td>
            <td>Catégorie</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </thead>
    <tbody class="renderUserInteretList">
        <%= render partial: 'userInteretlist' , locals: {user: @user} %>
    </tbody>
</table>
    <% @interets.each do |i| %>
        <%= link_to "Ajouter "+i.categorie.to_s, {controller: "users", action: "addinteret", interet_id: i.id} ,remote: true, class: 'btn btn-default' %>
    <% end %>
<% end %>

<% if is_entreprise %>
    <h3>Secteur d'activité :</h3>
    <table class="table">
        <thead>
            <tr>
                <td>Nom</td>
                <td>Catégorie</td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </thead>
        <tbody class="renderUserSecteurList">
            <%= render partial: 'userSecteurlist' , locals: {user: @user} %>
        </tbody>
    </table>
    <% @secteurs.each do |s| %>
        <%= link_to "Ajouter "+s.name.to_s, {controller: "users", action: "addsecteur", secteur_id: s.id} ,remote: true, class: 'btn btn-default' %>
    <% end %>

    <h3>Offres :</h3>
    <table class="table">
        <thead>
            <tr>
                <td>Nom</td>
                <td>Description</td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </thead>
        <tbody class="renderUserOffreList">
            <%= render partial: 'userOffrelist' , locals: {user: @user} %>
        </tbody>
    </table>
    <% @offres.each do |s| %>
        <%= link_to "Ajouter "+s.name.to_s, {controller: "users", action: "addoffre", offre_id: s.id} ,remote: true, class: 'btn btn-default' %>
    <% end %>
<% end %>
<br>
