<% if user_signed_in? %>
    <% if profil_complet %>
    <% else %>
            <div class="alert alert-warning">
                <strong><%= @user.username %></strong> pensez à compléter tout <a href="<%= users_profiluser_path %>" class="alert-link">votre profil</a> pour plus de visibilité !
            </div>
    <% end %>
<% end %>

<table class="table">
    <tbody>
        <td>
        <h1>Les profils</h1>
            <table class="table">
                <thead>
                    <tr>
                        <th colspan="3"></th>
                    </tr>
                </thead>

                <tbody>
                    <% @users.each do |user| %>
                    <tr>
                        <td><%= user.username %></td>
                        <td><%= link_to 'Afficher', {controller: "users", action: "profil", user_id: user.id}, class: 'btn btn-warning' %></td>
                    </tr>
                    <% end %>
                </tbody>
            </table>
        </td>
        <td>
        <h1>Les entreprises</h1>
            <table class="table">
                <thead>
                    <tr>
                        <th colspan="3"></th>
                    </tr>
                </thead>

                <tbody>
                    <% @entreprises.each do |user| %>
                    <tr>
                        <td><%= user.username %></td>
                        <td><%= user.offres.count %> offre(s) proposée(s)</td>
                        <td><%= link_to 'Afficher', {controller: "users", action: "profil", user_id: user.id}, class: 'btn btn-warning' %></td>
                    </tr>
                    <% end %>
                </tbody>
            </table>
        </td>
    </tbody>
</table>