<p id="notice"><%= notice %></p>

<h1>Secteurs d'activités</h1>

<table class="table">
  <thead>
    <tr>
      <th>Nom</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @stes.each do |ste| %>
      <tr>
        <td><%= ste.name %></td>
        <td><%= link_to 'Afficher', ste, class: 'btn btn-warning' %></td>
        <td><%= link_to 'Editer', edit_ste_path(ste), class: 'btn btn-info' %></td>
        <td><%= link_to 'Supprimer', ste, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nouvelle association', new_ste_path, class: 'btn btn-success' %>
