<%= simple_form_for(@experience) do |f| %>
<%= f.error_notification %>

<div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :lieu %>
    <%= f.input :annee %>
    <%= f.input :description %>
</div>
<br>
<div class="form-actions">
    <%= f.button :submit %>
</div>
<% end %>
