<p id="notice"><%= notice %></p>

<h1>Experiences</h1>

<table>
    <thead>
        <tr>
            <td>Nom</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </thead>

    <tbody>
        <% @experiences.each do |experience| %>
        <tr>
            <td><%= experience.name %></td>
            <td><%= link_to 'Show', experience %></td>
            <td><%= link_to 'Edit', edit_experience_path(experience) %></td>
            <td><%= link_to 'Destroy', experience, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
        <% end %>
    </tbody>
</table>

<br>

<%= link_to 'New Experience', new_experience_path %>
