<p id="notice"><%= notice %></p>

<h1>Formations</h1>

<table class="table">
    <thead>
        <tr>
            <td>Nom</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </thead>

    <tbody>
        <% @formations.each do |formation| %>
        <tr>
            <td><%= formation.name %></td>
            <td><%= link_to 'Afficher', formation_path(formation.id), class: 'btn btn-warning' %></td>
            <td><%= link_to 'Editer', edit_formation_path(formation), class: 'btn btn-info' %></td>
            <td><%= link_to 'Supprimer', formation, method: :delete, remote: true, class: 'btn btn-danger' %></td>
        </tr>
        <% end %>
    </tbody>
</table>

<br>

<%= link_to 'Nouvelle formation', new_formation_path, class: 'btn btn-success' %>
