<p id="notice"><%= notice %></p>

<h1>Interets</h1>

<table class="table">
  <thead>
    <tr>
      <td>Catégories</td>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @interets.each do |interet| %>
      <tr>
        <td><%= interet.categorie %></td>
        <td><%= link_to 'Afficher', interet, class: 'btn btn-warning' %></td>
        <% if current_user.role == 'Admin' %>
        <td><%= link_to 'Editer', edit_interet_path(interet), class: 'btn btn-info' %></td>
        <td><%= link_to 'Supprimer', interet, method: :delete, class: 'btn btn-danger' %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<% if current_user.role == 'Admin' %>
<%= link_to 'Nouvel Intérêt', new_interet_path, class: 'btn btn-success' %>
<% end %>