<p id="notice"><%= notice %></p>

<h1>Interets</h1>

<table>
  <thead>
    <tr>
      <th>Categorie</th>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @interets.each do |interet| %>
      <tr>
        <td><%= interet.categorie %></td>
        <td><%= interet.name %></td>
        <td><%= link_to 'Show', interet %></td>
        <td><%= link_to 'Edit', edit_interet_path(interet) %></td>
        <td><%= link_to 'Destroy', interet, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Interet', new_interet_path %>
