<p id="notice"><%= notice %></p>

<h1>Interets</h1>

<table>
  <thead>
    <tr>
      <td>Nom</td>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @interets.each do |interet| %>
      <tr>
        <td><%= interet.name %></td>
        <td><%= link_to 'Afficher', interet %></td>
        <td><%= link_to 'Editer', edit_interet_path(interet) %></td>
        <td><%= link_to 'Supprimer', interet, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nouvel Intérêt', new_interet_path %>
