<p id="notice"><%= notice %></p>

<h1>Formations</h1>

<table class="table">
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @ftus.each do |ftu| %>
      <tr>
        <td><%= ftu.etablissement %></td>
        <td><%= ftu.annee %></td>
        <td><%= ftu.description %></td>
        <td><%= link_to 'Show', ftu, class: 'btn btn-warning' %></td>
        <td><%= link_to 'Edit', edit_ftu_path(ftu), class: 'btn btn-info' %></td>
        <td><%= link_to 'Destroy', ftu, method: :delete, remote: true, class: 'btn btn-danger' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nouvelle association', new_ftu_path, class: 'btn btn-success' %>
