<p id="notice"><%= notice %></p>

<p>
    <strong>Année :</strong>
    <%= @ftu.annee %>
</p>
<p>
    <strong>Etablissement :</strong>
    <%= @ftu.etablissement %>
</p>
<p>
    <strong>Description :</strong>
    <%= @ftu.description %>
</p>

<%= link_to 'Editer', edit_ftu_path(@ftu), class: 'btn btn-info' %> |
<%= link_to 'Retour', ftus_path, class: 'btn btn-default' %>
