<p id="notice"><%= notice %></p>

<p>
    <strong>Année :</strong>
    <%= @ftu.annee %>
</p>
<p>
    <strong>Etablissement :</strong>
    <%= @ftu.etablissement %>
</p>
<p>
    <strong>Description :</strong>
    <%= @ftu.description %>
</p>
<br><br>

<% if current_user.role == 'Admin' %>
<%= link_to 'Editer', edit_ftu_path(@ftu), class: 'btn btn-info' %> |<% end %>
<%= link_to 'Retour', ftus_path, class: 'btn btn-default' %>
