<!DOCTYPE html>
<html>
    <head>
        <title>Projet</title>
        <%= csrf_meta_tags %>

        <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
        <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    </head>

    <body>
        <div class="navbar navbar-inverse">
            <div class="container">
                <div class="navbar-header">
                    <a href="<%= root_path %>" class="navbar-brand">Skyla</a>
                </div>
                <div class="navbar-nav navbar-center">
                    <li><a href="<%= formations_path %>" class="navbar-brand">Formations</a></li>
                    <li><a href="<%= experiences_path %>" class="navbar-brand">Expériences</a></li>
                    <li><a href="<%= interets_path %>" class="navbar-brand">Intérêts</a></li>
                </div>
                <div class="navbar-nav navbar-right">
                    <% if user_signed_in? %>
                    <li><a href="<%= edit_user_registration_path %>" class="navbar-brand">Mes infos persos</a></li>
                    <li><a href="<%= users_profiluser_path %>" class="navbar-brand"><%= current_user.username %></a></li>
                    <li><%= link_to "Se déconnecter", destroy_user_session_path, :method => :delete %></li>
                    <% else %>
                    <li><%= link_to "S'inscrire", new_user_registration_path, :method => :get %></li>
                    <li><%= link_to "Se connecter", new_user_session_path, :method => :get %></li>
                    <li><%= link_to "Se connecter via Fb", user_facebook_omniauth_authorize_path, :method => :get %></li>
                    <% end %>
                </div>
            </div>
        </div>

        <div class="container"><%= yield %></div>

        <div class="navbar navbar-inverse">
            <div class="container">
                <h6>Copyright @MarinePorret 2017</h6>
            </div>
        </div>

        <!-- Latest compiled and minified JavaScript -->
        <!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script> -->
    </body>
</html>
