<!DOCTYPE html>
<html>
    <head>
        <title>Projet</title>
        <%= csrf_meta_tags %>
        <meta name="viewport" content="width=device-width, initial-scale=1">

        
        <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
        <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    </head>

    <body>
        <div class="navbar navbar-inverse">
            <div class="container">
                <div class="navbar-header">
                    <a href="<%= root_path %>" class="navbar-brand">Skyla</a>
                </div>
   
                
                    <% if user_signed_in? %>
                        <% if current_user.role == 'Entreprise' || current_user.role == 'Admin' %>
                        <div class="navbar-brand">
                            <div class="dropdown">
                                <div class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true">
                                Rechercher un profil
                                    <span class="caret"></span>
                                </div>
                                <ul class="dropdown-menu" aria-labelledby="dropdownProfil">
                                    <li class="dropdown-header">en fonction de</li>
                                    <li><a href="<%= formations_path %>" title="Formation">La formation</a></li>
                                    <li><a href="<%= experiences_path %>" title="Experience">L'expérience</a></li>
                                    <li><a href="<%= interets_path %>" title="Interet">L'intérêt</a></li>
                                </ul>
                            </div>
                        </div>
                        <% end %>
                        <% if current_user.role == 'Particulier' || current_user.role == 'Admin' %>
                        <div class="navbar-brand">
                            <div class="dropdown">
                                <div class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true">
                                Rechercher une entreprise
                                    <span class="caret"></span>
                                </div>
                                <ul class="dropdown-menu" aria-labelledby="dropdownProfil">
                                    <li class="dropdown-header">en fonction</li>
                                    <li><a href="<%= secteurs_path %>" title="secteur">Du secteur d'activité</a></li>
                                    <li><a href="#" title="Edit User">Des offres d'emploi</a></li>
                                    <li><a href="#" title="Edit User"></a></li>
                                </ul>
                            </div>
                        </div>
                        <% end %>
                    <% end %>
                

                
                <% if user_signed_in? %>
                    <div class="navbar-brand navbar-right">
                        <div class="dropdown">
                            <div class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true">
                            <%= current_user.username %>
                                <span class="caret"></span>
                            </div>
                            <ul class="dropdown-menu" aria-labelledby="dropdownProfil">
                                <li><a href="<%= users_profiluser_path %>" title="Profil">Profil</a></li>
                                <li><a href="<%= edit_user_registration_path %>" title="Edit User">Editer mon profil</a></li>
                                <li role="separator" class="divider"></li>
                                <li><%= link_to 'Se déconnecter', destroy_user_session_path, :method => :delete %></li>
                            </ul>
                        </div>
                    </div>
                <% else %>
                    <div class="navbar-brand navbar-right">
                        <%= link_to "S'inscrire", new_user_registration_path, :method => :get %>
                    </div>
                    <div class="navbar-brand navbar-right">
                        <%= link_to "Se connecter", new_user_session_path, :method => :get %>
                    </div>
                <% end %>  
            </div>
        </div>




        <div class="container">
        <%= yield %><br><br>
        </div>





        <div class="navbar navbar-inverse">
            <div class="container">
                <div class="navbar-brand" style="font-size: 15px;">Marine Porret 2017</div> 
            </div>
        </div>


        <!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    </body>
</html>





